.data-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  padding: max(1rem, 2vw);
  color: var(--nine);

  &__title {
    font-size: max(1.5rem, 2vw);
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: "Inter", sans-serif;
    @media screen and (min-width: 768px) {
      font-size: max(1.5rem, 1.25vw);
    }
  }
  &__data {
    font-size: max(2rem, 3vw);
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.5rem;
    @media screen and (min-width: 768px) {
      font-size: max(1.5rem, 1.25vw);
    }
    @media screen {
    }
  }
  &__diff {
    display: flex;
    align-items: center;
    & small {
      margin-right: 0.5rem;
    }
    & svg {
      margin-left: 0.5rem;
    }
    & > * {
      font-size: max(1.25rem, 1.25vw);
    }
    white-space: nowrap;
  }
  &:nth-child(1) {
    background-color: rgba(233, 236, 239, 0.7);
  }
  &:nth-child(2) {
    background-color: rgba(206, 212, 218, 0.7);
  }
  &:nth-child(3) {
    background-color: rgba(173, 181, 189, 0.5);
  }
  &:nth-child(4) {
    background-color: rgba(108, 117, 125, 0.5);
  }
  &--loading {
    & > * {
      animation: alert 0.5s ease-in-out 0s infinite normal;
    }
  }
}

@keyframes alert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
