.CountryPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  & > main {
    background-color: var(--one);
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 20vh 20vh 1fr min-content;
      row-gap: 3vh;
      margin: 0px auto;
      max-width: 1280px;
    }
  }
  &__date {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 1/2;
    & label {
      font-size: 1.5rem;
      font-weight: 600;
    }
    & input[type="date"] {
      margin-left: 1rem;
    }
    & span {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 700;
    }
  }
  &__news {
    opacity: 0;
    transform: translateY(100px);
    & > h2 {
      background-color: var(--two);
      padding: 0.5rem;
      width: 100%;
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      width: 100%;

      grid-column: 1/5;

      background-color: var(--two);
      border-radius: 1rem;
      padding: 1rem;
    }
    &__column {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-gap: 3vmax;
        grid-auto-rows: minmax(
          100px,
          auto
        ); /* Set the desired height for all rows */
      }
    }
    animation: moveUp 1s ease-in-out forwards;
  }
  &__info-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    grid-row: 2/3;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1/5;
    }
    transform: translateY(5%);
    opacity: 0;
    animation: moveUp 1s ease-in-out forwards;
  }
  &__date {
    label {
      color: var(--nine);
    }
    & input[type="date"] {
      background-color: var(--two);
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: var(--nine);
    }
    .error {
      margin: 0.5rem;
      font-size: 1.15rem;
      color: tomato;
      & > span:first-child {
        text-transform: capitalize;
      }
    }
  }
  &__trend {
    grid-row: 3/4;
    grid-column: 1/5;
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 10vh 1fr 1fr;
      & h2 {
        grid-row: 1/2;
        grid-column: 1/3;
      }
      & canvas:nth-child(1) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      & canvas:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      & canvas:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      & canvas:nth-child(4) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }
  }
}
