.sideBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--two);
  border-right: 1px solid var(--three);
  max-height: 100vh;
  transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.open {
    width: 70vw;
    @media screen and (min-width: 768px) {
      width: 40vw;
    }
    @media screen and (min-width: 1024px) {
      width: 30vw;
    }
    @media screen and (min-width: 1280px) {
      width: 20vw;
    }

    & .sideBar__main {
      display: flex;
      flex-direction: column;
      flex: 1;
      font-size: 0.875rem;
      @media screen and (min-width: 1280px) {
        font-size: 1rem;
      }
      svg {
        fill: var(--nine);

        max-width: 30%;
        width: 30%;
        height: auto;
        margin: 0.5rem auto;
      }
      &__table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex: 1;
        &__error {
          color: tomato;
          font-weight: bold;
          margin: 0.5rem;
        }
        & h3 {
          color: var(--nine);
          margin-bottom: 1rem;
        }
        & input[type="date"] {
          background-color: var(--two);
          padding: 0.5rem;
          border-radius: 0.25rem;
          color: var(--nine);
          margin-bottom: 2rem;
        }
        & > p {
          color: var(--nine);
          border-bottom: 1px solid var(--five);
          margin-bottom: max(1rem, 4vh);
          padding-bottom: 0.25rem;
          & > span:first-child {
            font-weight: bold;
            margin-right: 0.25rem;
          }
        }
        &.loading {
          & span:nth-of-type(2) {
            animation: alert 0.5s ease-in-out 0s infinite normal;
          }
        }
      }
    }
  }
  &.close {
    width: 15vw;
    @media screen and (min-width: 1024px) {
      width: 5vw;
    }

    & .sideBar__main {
      svg {
        fill: var(--nine);

        width: 2rem;
        max-width: 2rem;
        height: auto;
        margin: 0.5rem auto;
      }
      &__table {
        & > * {
          display: none;
        }
        width: 0px;
      }
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid var(--three);
    background-color: var(--four);
    &__back,
    &__menu {
      cursor: pointer;
      color: var(--nine);
    }
  }
  &__main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
