.country {
  fill: var(--two);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    fill: var(--nine);
    transition: all 0.3s ease-in-out;
  }
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1.5s linear forwards;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
