@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */
:root {
  --one: #f8f9fa;
  --two: #e9ecef;
  --three: #dee2e6;
  --four: #ced4da;
  --five: #adb5bd;
  --six: #6c757d;
  --seven: #495057;
  --eight: #343a40;
  --nine: #212529;
}
body {
  background-color: var(--one);
}
